$slick-font-family: FontAwesome !default;
$slick-arrow-color: $accent-gray !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f137" !default;
$slick-next-character: "\f138" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slider {
  margin: auto;
  width: 400px;
}

.slider-image-wrapper {
  margin: auto;
  height: 100px;
  padding: 0 10px;
  width: 100px;
}
.slick-slide img {
  width: 100%;
}
.slick-slide {
  opacity: .5;
  transition: .5s all ease-in;
}
.slick-slide.slick-current{
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}
.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

.testimonial-people-wrapper{
  transform: translate(0, -25px);
}
.testimonial-quotes-wrapper{
  padding: 50px;
  border: 2px solid $light-grey;
  border-radius: 3px;
  p{
    font-size: 20px;
    line-height: 40px;
  }
  .slick-arrow{
    background-color: $lightest-grey;
    font-size: 32px;
  }
  .slick-prev{
    left: -15px;
  }
  .slick-next{
    right: -15px;
  }
}
