// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #D00000;
$headings: #A60000;
$accent-red: #D93333;
$accent-grey: #2b2b2b;
$dark-grey: #1e1e1e;
$body-text: #191919;
$white: white;
$light-grey: #d5d5d5;
$lightest-grey: #F5F5F5;
