.photo_gallery{
  margin: 50px 0;
  .grid-sizer{ width: 33.333%; }

  .grid-item-width2{
    width: 66.666%;
    height: 500px;
    overflow: hidden;
    padding: 10px;
    img{
      width: 100%;
      height: auto;
    }
  }

  .grid-item{
    width: 33.333%;
    height: 250px;
    overflow: hidden;
    padding: 10px;
    img{
      width: 100%;
      height: auto;
    }
  }
}
