$slick-font-family: FontAwesome !default;
$slick-arrow-color: $accent-gray !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f053" !default;
$slick-next-character: "\f054" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


// HOVER EFFECT ON PREV/NEXT BUTTONS
.carousel-control-next, .carousel-control-prev, .carousel-control-prev:active, .carousel-control-prev:focus, .carousel-control-next:active, .carousel-control-next:focus {
  opacity: 0;
  transition: all .5s ease-in;
}
.carousel.slide:hover .carousel-control-next, .carousel.slide:hover .carousel-control-prev{
  opacity: 1;

}
.carousel-control-prev{
  left: 20px;
}
.carousel-control-next{
  right: 20px;
}
.carousel.slide:hover .carousel-control-prev{
  left: 0;

}
.carousel.slide:hover .carousel-control-next{
  right: 0;
}

// CAROUSEL
.carousel.slide{
  height: 100vh;
  width: 100%;
  .carousel-inner{
    height: 100%;
  //   width: 100%;
  //   .carousel-item{
  //     height: 100%;
  //     width: auto;
      img{
        height: auto;
        width: 100%;
      }
    }
}

.full-width-image{
  width: 100%;
  height: 500px;
}

.instagram-image{
  width: 10%;
  position: relative;
  display: inline-block;
  &:hover .likes{
    opacity: 1;
  }
  .likes{
    position: absolute;
    background-color: rgba($white,.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    padding: 20px;
    transition: .5s all ease-in;
  }
  img{
    width: 100%;
  }

}

.slider {
  margin: auto;
  width: 400px;
}

.slider-image-wrapper {
  margin: auto;
  height: 100px;
  padding: 0 10px;
  width: 100px;
}



.slick-slide img {
  width: 100%;

}
.slick-slide {
  opacity: .5;
  transition: .5s all ease-in;
}
.slick-slide.slick-current{
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}



.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}
