
.instagram-image{
  width: 10%;
  position: relative;
  display: inline-block;
  &:hover .likes{
    opacity: 1;
  }
  .likes{
    position: absolute;
    background-color: rgba($white,.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    padding: 20px;
    transition: .5s all ease-in;
  }
  img{
    width: 100%;
  }

}
