.animated {
  transition: all 0.5s ease;
}
.animated.slideDown {
  transform: translateY(0);
}

.animated.slideUp {
  transform: translateY(-100%);
}


// MENU STYLES
.navbar-nav{
  .menu-item {
    position: relative;
    padding: 10px 20px;
    a{
      color: $white;
      &:hover{
        color: $brand-primary;
        text-decoration: none;
      }
    }
    &:hover .sub-menu {
      display: block;
      li{
        padding: 0;
      }
    }
  }
  .sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    a{
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #f1f1f1
      }
    }
  }
}

.main-navbar{
  background-color: transparent;
  &.headroom--not-top{
    background-color: white;
    .brand{
      img{
        height: 75px;
        width: auto;
      }
    }
    a{
      color: $accent-gray;
    }
  }
  .brand{
    img{
      transition: all .5s ease-in;
      height: 125px;
      width: auto;
    }
  }
}
.donate-button{
  padding: 10px 20px;
  background-color: $brand-primary;
  border-radius: 2px;
  color: $white;
  &:hover{
    color: $white;
    text-decoration: none;
    background-color: $headings;
  }
}
.menu-right{
  justify-content: flex-end;
}
